*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body{
  margin:0px;
  background-color: aliceblue;
}

.app_header{
  display :flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.app_stats{
  display:flex;
  justify-content: space-between;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding:5px;
  flex-wrap: wrap;
}


.app_left{
  flex:0.9;
  
}

.app_right{
  
  width:400px;
}